# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives**

+ Write and run code 
+ Import libraries
+ Different kernels in Jupyter

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Plotly
3. ggplot


| Data Science tools | 
| -------------| 
| Eclipse| 
| VS Code | 
| JupyterLab |

### Below are a few examples of evaluating arithmetic expressions in Python.

 This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author

Alexandra Herrera